{% extends "base.html" %}
{% load static %}
{% block cuerpo %}
<div class="row">
  <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
    <h1>Registrar Reparación</h1>
    <div class="card">
      <div class="card-body">
        <form action="{% url 'registrarReparacion' %}" method="POST">
          {% csrf_token %}
          
          <div class="form-group">
            <input type="text" id="txtid" name="txtid" class="form-control" placeholder="ID de la Reparación" required>
          </div>

          <div class="form-group ">
            <input type="date" id="numfecha" name="numfecha" class="form-control" placeholder="Fecha de recepcion" required>
          </div>

          <div class="form-group ">
            <input type="date" id="datef" name="datef" class="form-control" placeholder="Fecha de entrega" required>
          </div>

          <div class="form-group ">
            <input type="number" id="numid_reloj" name="numid_reloj" class="form-control" placeholder="ID del Reloj" required>
          </div>

          <div class="form-group ">
            <textarea id="txtdescripcion_problema" name="txtdescripcion_problema" class="form-control" placeholder="Descripción del problema" required></textarea>
          </div>

          <div class="form-group ">
            <input type="number" id="numcosto_de_reparacion" name="numcosto_de_reparacion" class="form-control" placeholder="Costo de Reparación" required>
          </div>

          <div class="form-group ">
            <input type="text" id="txttiempo_de_reparacion" name="txttiempo_de_reparacion" class="form-control" placeholder="Tiempo de Reparación" maxlength="30" required>
          </div>

          <div class="form-group ">
            <input type="text" id="txtestado_reparacion" name="txtestado_reparacion" class="form-control" placeholder="Estado de la Reparación" maxlength="255" required>
          </div>

          <div class="form-group ">
            <input type="text" id="txtdetalles" name="txtdetalles" class="form-control" placeholder="Detalles de la reparacion" maxlength="255" required></input>
          </div>

          <div class="form-group">
            <input type="text" id="txtide" name="txtide" class="form-control" placeholder="ID del empleado" required>
          </div>

          <div class="form-group" style="margin-top: 2px;">
            <input type="text" id="txtidc" name="txtidc" class="form-control" placeholder="ID del cliente" required>
          </div>

          <div class="form-group ">
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>

        </form>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
    <h1>Listado de Reparaciones</h1>
    <img src="{% static 'img/reparaciones.jpg' %}" style="width: 100px;" alt="Ejemplo de imagen">

    <table class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Fecha de recepcion</th>
            <th scope="col">Fecha de entrega</th>
            <th scope="col">ID Reloj</th>
            <th scope="col">Descripción</th>
            <th scope="col">Costo</th>
            <th scope="col">Tiempo</th>
            <th scope="col">Estado</th>
            <th scope="col">Detalles</th>
            <th scope="col">ID Empleado</th>
            <th scope="col">ID Cliente</th>
            <th scope="col">-</th>
          </tr>
        </thead>
        <tbody>
          {% for reparacion in misreparaciones %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ reparacion.idreparacion }}</td>
            <td>{{ reparacion.fecha_recepcion }}</td>
            <td>{{ reparacion.fecha_entrega }}</td>
            <td>{{ reparacion.id_reloj }}</td>
            <td>{{ reparacion.descripcion_problema }}</td>
            <td>{{ reparacion.costo_de_reparacion }}</td>
            <td>{{ reparacion.tiempo_de_reparacion }}</td>
            <td>{{ reparacion.estado_reparacion }}</td>
            <td>{{ reparacion.detalles }}</td>
            <td>{{ reparacion.id_empleado }}</td>
            <td>{{ reparacion.id_cliente }}</td>

            <td><a href="seleccionarReparacion/{{ reparacion.idreparacion }}" class="btn btn-success">Editar</a></td>
            <td><a href="borrarReparacion/{{ reparacion.idreparacion }}" class="btn btn-danger">Borrar</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

  </div>
</div>
{% endblock %}
