{% extends "base.html" %}
{% load static %}
{% block cuerpo %}

<div class="row justify-content-center">

    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <h1>Editar Reloj</h1>
        <div class="card">
            <div class="card-body">
                <form action="/editarReloj/" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtid" name="txtid" class="form-control" value="{{ misrelojes.id }}" readonly required>
                    </div>

                    <div class="form-group py-3">
                        <input type="text" id="txtmarca" name="txtmarca" class="form-control" value="{{ misrelojes.marca }}" maxlength="255" required>
                    </div>

                    <div class="form-group py-3">
                        <input type="text" id="txtmodelo" name="txtmodelo" class="form-control" value="{{ misrelojes.modelo }}" maxlength="255" required>
                    </div>

                    <div class="form-group py-3">
                        <input type="text" id="txtmaterial" name="txtmaterial" class="form-control" value="{{ misrelojes.material }}" maxlength="255" required>
                    </div>

                    <div class="form-group py-3">
                        <input type="number" id="numprecio" name="numprecio" class="form-control" value="{{ misrelojes.precio }}" required>
                    </div>

                    <div class="form-group py-3">
                        <input type="number" id="numaño" name="numaño" class="form-control" value="{{ misrelojes.anio_de_lanzamiento }}" required>
                    </div>

                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-primary">Actualizar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
