{% extends "base.html" %}
{% load static %}
{% block cuerpo %}

<div class="row">
  <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <h1>Agregar Cliente</h1>
      <div class="card">
          <div class="card-body">
              <form action="{% url 'registrarCliente' %}" method="POST">
                  {% csrf_token %}
                  
                  <div class="form-group">
                      <input type="text" id="txtid" name="txtid" class="form-control" placeholder="ID del Cliente" required>
                  </div>
                  
                  <div class="form-group">
                      <input type="text" id="txtnombre" name="txtnombre" class="form-control" placeholder="Nombre" maxlength="255" required>
                  </div>
                  
                  <div class="form-group ">
                      <input type="text" id="txtapellido" name="txtapellido" class="form-control" placeholder="Apellido" maxlength="255" required>
                  </div>
                  
                  <div class="form-group ">
                      <input type="text" id="txtdireccion" name="txtdireccion" class="form-control" placeholder="Dirección" maxlength="255" required>
                  </div>
                  
                  <div class="form-group ">
                      <input type="number" id="numtelefono" name="numtelefono" class="form-control" placeholder="Teléfono" required>
                  </div>
                  
                  <div class="form-group ">
                      <input type="text" id="txtcorreo_electronico" name="txtcorreo_electronico" class="form-control" placeholder="Correo Electrónico" maxlength="255" required>
                  </div>
                  
                  <div class="form-group ">
                      <input type="date" id="numfecha_nacimiento" name="numfecha_nacimiento" class="form-control" placeholder="Fecha de Nacimiento" required>
                  </div>
                  
                  <div class="form-group ">
                      <button type="submit" class="btn btn-primary">Guardar</button>
                  </div>
              </form>
          </div>
      </div>
  </div>

<div class="col-sm-12 col-md-4 col-lg-4 col-xl-8">
    <h1>Listado de Clientes</h1>
    <img src="{% static "img/clientes.jpg" %}" style="width: 150px;" alt="">
    <table class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ID del Cliente</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Correo Electrónico</th>
                    <th scope="col">Fecha de Nacimiento</th>
                    <th scope="col">-</th>
                </tr>
            </thead>
            <tbody>
                {% for c in misclientes %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ c.id }}</td>
                        <td>{{ c.nombre }}</td>
                        <td>{{ c.apellido }}</td>
                        <td>{{ c.direccion }}</td>
                        <td>{{ c.telefono }}</td>
                        <td>{{ c.correo_electronico }}</td>
                        <td>{{ c.fecha_de_nacimiento }}</td>
                        <td><a href="seleccionarCliente/{{ c.id }}" class="btn btn-success">Editar</a></td>
                        <td><a href="borrarCliente/{{ c.id }}" class="btn btn-danger">Borrar</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
